<p>
  <mat-toolbar color="primary">
    <span>
      Self Diagnosis
    </span>
  </mat-toolbar>
</p>

<div class="div_style">
  <mat-card class="card_style">
    <mat-card-header>Symptoms</mat-card-header>
      <mat-card-content class="card_content">
        <mat-form-field appearance="outline" class="full_width">
          <mat-label>Enter Symptoms</mat-label>
          <textarea matInput placeholder="Separate with new line"></textarea>
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-stroked-button color="Primary">Diagnose</button>
    </mat-card-actions>
  </mat-card>
</div>

<div class="div_style">
  <mat-card class="card_style">
    <mat-card-header>Possible Diagnosis</mat-card-header>
      <mat-card-content class="card_content">
        
    </mat-card-content>
  </mat-card>
</div>